  <%- include("partials/head")%>    <br><br><br>

  <div class="container">
    <h2>
      5. Success
    </h2>
    <br>
    
      <div class="text-center d-flex justify-content-center">
        <a href="/hashfile" class="btn btn-primary btn-large">Download your file</a>
      </div>
      <br><br><br>
       <div class="btdns">
         <a href="/" class="btn btn-secondary float-left">Restart</a>
       </div>
  </div>
  <%- include("partials/footer")%>