<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="content">
        <h1>2. Encrypt / Decrypt ?</h1>
        <div class="ed">
            <button class="btn btn-primary edbtn" id='ed-0' onclick="selectEd('encrypt', 0)">Encrypt</button>
            <button class="btn btn-primary edbtn" id='ed-1' onclick="selectEd('decrypt', 1)">Decrypt</button>
        </div>
        <h1>3. Which Algorithm ?</h1>
        <div class='algos'>

        </div>
        <button class="btn btn-primary suiv" onclick="validate(algorithm, ed)">Suivant ></button>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="../public/img/Alert-icon.png" class="rounded mr-2" alt="alert">
                <strong class="mr-auto">Alert</strong>
                <!-- <small>11 mins ago</small> -->
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" data-delay="3000">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Veuillez sélectionner une opération et un algorithme
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        let algorithm, ed;
        fetch('../store.json')
            .then(resp => resp.json())
            .then(resp => {
                resp.algos.forEach((elt, index) => {
                    // console.log("<button class='btn btn-primary albtn' id='algo-"+index+"' onclick='selectAlg('" + elt + "', " + index + ")'>" + elt + "</button>")
                    $('.algos').append("<button class='btn btn-primary albtn' id='algo-" + index + "' onclick='selectAlg(`" + elt + "`, " + index + ")'>" + elt + "</button>");
                });
            });
        function selectAlg(elt, index) {
            algorithm = elt;
            $('.albtn').removeClass("green");
            $("#algo-" + index).addClass("green");
        }
        function selectEd(elt, index) {
            ed = elt;
            $('.edbtn').removeClass("green");
            $("#ed-" + index).addClass("green");
        }
        function validate(a, e) {
            if (a && e) {

            } else {
                $('.toast').toast('show');
            }
        }
    </script>

</body>

</html>