  <%- include("partials/head")%>

    <div class="container methods content">
        <h1>2. Encrypt / Decrypt ?</h1>
        <div class="ed">
            <button class="btn btn-primary edbtn" id='ed-0' onclick="selectEd('encrypt', 0)">Encrypt</button>
            <button class="btn btn-primary edbtn" id='ed-1' onclick="selectEd('decrypt', 1)">Decrypt</button>
        </div>
        <h1>3. Which Algorithm ?</h1>
        <div class='algos'>

        </div>
        
        <div class="btdns">
            <a href="/" class="btn btn-secondary float-left suiv">Previous</a>
            <button class="btn btn-info suiv" onclick="nextPage()">Next</button>
        </div>
    </div>
   
  <%- include("partials/footer")%>
