  <%- include("partials/head")%> <br><br><br>

  <div class="container">
    <h2>
      4. Your password to decrypt the file
    </h2>
    <br>
    <form action="passwordsave" id="savePass" method="post">
      <div class="form-group">
        <input class="input" placeholder="Enter your password here ..." type="password" name="password" id="password"
          required />
      </div>

      <br><br><br>
      <div class="btdns">
        <a href="/methods" class="btn btn-secondary float-left">Previous</a>
        <button class="btn submitSavePass btn-flat float-right btn-large btn-info" type="submit">Next</button>
      </div>

    </form>
  </div>
  <%- include("partials/footer")%>