  <%- include("partials/head")%>    <br><br><br>

  <div class="container">
    <h2>
      3. Your password to decrypt the file
    </h2>
    <br>
    <form action="password" method="post">
      <div class="form-group change" data-text="Upload your file here">
        <input class="input" placeholder="Enter your password here ..." type="password" name="password" id="password"
          required />
      </div>

      <br><br><br>
      <div class="float-right">
        <button type="submit" class="btn btn-flat btn-large btn-primary">Next</button>
      </div>
    </form>
  </div>
   <%- include("partials/footer")%>
