.methods {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.methods a {
  color: #00B7FF;
}

.methods.content {
  text-align: center;
}

.no{
  width: 20px;
}

.methods .albtn {
  width: 250px;
  /* height: 50px; */
  margin: 30px;
}

.methods .edbtn {
  width: 250px;
  /* height: 50px; */
  margin: 30px;
}

.methods .suiv {
  width: 250px;
  /* height: 50px; */
  margin: 30px;
  float: right;
}

.methods .green {
  background-color: green !important;
  border-color: green !important;
}